@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    box-sizing: border-box;
  }
.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  }
.wrapper1{
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
.wrapper2{
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
.movies-wrapper{
  width:100%;
  margin: 0 auto;
  max-width: 1430px;
}
.trailer-wrapper{
  width:100%;
  margin: 0 auto;
  max-width: 1350px;
}
.trailer_img{
  background-image: url("/images/poster.jpg");
}
.background{
  background:  linear-gradient(90deg,#181818 10%,hsla(0,0%,9%,.98) 20%,hsla(0,0%,9%,.97) 25%,hsla(0,0%,9%,.95) 35%,hsla(0,0%,9%,.94) 40%,hsla(0,0%,9%,.92) 45%,hsla(0,0%,9%,.9) 50%,hsla(0,0%,9%,.87) 55%,hsla(0,0%,9%,.82) 60%,hsla(0,0%,9%,.75) 65%,hsla(0,0%,9%,.63) 70%,hsla(0,0%,9%,.45) 75%,hsla(0,0%,9%,.27) 80%,hsla(0,0%,9%,.15) 85%,hsla(0,0%,9%,.08) 90%,hsla(0,0%,9%,.03) 95%,hsla(0,0%,9%,0));
  bottom: 0;
  left: 0;
  right: -200px;
  top: 0;
  z-index: -1;
}
.bgImage{
  background-image: url("/images/unicorn.jpg");
  background-position: center;
  background-size: cover;
}




  